<% layout('layout') -%>
    <div class="jumbotron">
      <h1>Fastest way to find right Jobs!</h1>
      <p class="lead">The application will assist you in finding the
        right job near to your location and matching your skills. No need to
        relocate to a new place.</p>
      <a class="btn btn-success btn-lg" href="/register">Register today</a><br />
      <br>
</div>
<hr>
<div class="body-content">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Jobs near to you</h2>
            <p>You can find jobs closest to your current location. This helps reduce unnecessary commute and saves money</p>
          </div>
          <div class="col-lg-4">
            <h2>Matching your skills</h2>
            <p>The application will help you find the right job matching your skill set and expertise. This helps you focus on right jobs.</p>
         </div>
          <div class="col-lg-4">
            <h2>On latest technologies</h2>
            <p>We help you find jobs on latest and cutting edge technologies like MongoDB, OpenShift, Scala,
          Clojure, NoSQL,etc. Make the right move today.</p>
          </div>
          <div class="col-lg-4">
            <h2>More than 150 Jobs</h2>
            <p>We have a big database of jobs from world's leading companies. This will help you find job in your dream company.</p>
          </div>
          <div class="col-lg-4">
            <h2>Free</h2>
            <p>It is free to signup and use. It is free as in beer and free as in freedom.</p>
          </div>
          <div class="col-lg-4">
            <h2>Fast</h2>
            <p>Helps you find the right job with minimum fuss. Just signup and get started.</p>
          </div>
        </div>

      </div>


